<table style="width: 100%; padding: 45px 35px; box-sizing: border-box">
    <tr>
        <td style="font-size: 18px; text-align: center;">
            <h3>{{name}}, you exited from system!</h3>
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <p style="margin: 17px 0 0;">
                If you want to sing in, you need click below link
            </p>
            <a href="{{frontUrl}}/auth/sing-in">sing in</a>
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <button>SUBMIT</button>
        </td>
    </tr>
</table>